{% extends 'base.html' %}
{% load static %}
{% block title %}About{% endblock %}
{% block content %}

	<div class="flexbox-container">
		<div class="flexbox-item-99">
			<h1 class="green">About</h1>
			<img class="image" src="{% static 'operationfreedom/images/about.jpg' %}">
			<div class="sourceone"><small class="source"><a target="_blank" href="https://commons.wikimedia.org/wiki/File:DSC_0244_(51363907564).jpg">Hayley Tschetter, CC BY-SA 2.0 <https://creativecommons.org/licenses/by-sa/2.0>, via Wikimedia Commons</a></small></div>
			<div class="header-info2">
				<h3>The Main purpose of this website is to get signatures for the New York City and State Petitions against Covid-19 mandates. The mandates will stay in effect unless the residents of New York stand up! More mandates can be signed by our own Mayor and Governor. Where will it stop unless WE stop it!</h3>
			</div>
		</div>
	</div>

{% endblock %}