{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}


	<div class="flexbox-container">
		<div class="flexbox-item-99">
			<h1 class="green">Executive Orders</h1>
			<img class="image" src="{% static 'operationfreedom/images/Executive_Order.jpg' %}">
			<div class="sourceone">
				<small class="source">
					<a target="_blank" href="https://commons.wikimedia.org/wiki/File:Executive_Order_9981.jpg">dUS-Regierung, Public domain, via Wikimedia Commons</a>
				</small>
			</div>
			<div class="header-info2">
				<h2>It is important to read and understand the Executive Orders signed by our Preseident, Governor, and Mayor. Executive Orders are directly related to covid-19 vaccine mandates, masks mandates, and testing mandates</h2>
			</div>
		</div>
	</div>
	<div class="flexbox-container">
		<div class="flexbox-item flexbox-item-0" id="sec0">
			<div class="header-info2">
				<h1 class="green">Table of Context</h1><hr>
				<h4> <a class="jumpinglink" href="#aeo">About Executive Order's</a></h4><hr>
				<h4> <a class="jumpinglink" href="#nyceo">New York City Executive Order's</a></h4><hr>
				<h4> <a class="jumpinglink" href="#nyseo">State of New York Executive Order's</a></h4><hr>
			</div>
		</div>
	</div>
	<div class="flexbox-container">
		<div class="flexbox-item flexbox-item-5" id="aeo">
			<iframe class="image2" src="https://www.youtube.com/embed/oyOf3g-PJ94" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			<div class="header-info2">
				<h1 class="green"> About Executive Order's</h1><hr>
				<h4>What is an Executive Order?</h4>
				<p>"<a target="_blank" href="https://www.americanbar.org/groups/public_education/publications/teaching-legal-docs/what-is-an-executive-order-/">An executive order is a signed</a>, written, and published directive from the President of the United States that manages operations of the federal government." .....</p><hr>
				<h4>Can a Governor issue an Executive Order?</h4>
				<p>"<a target="_blank" href="https://www.nga.org/governors/powers-and-authority/">The authority for governors to issue executive orders</a> is found in state constitutions and statutes as well as case law, or is implied by the powers assigned to state chief executives. Governors use executive orders—certain of which are subject to legislative review in some states—for a variety of purposes" .....</p><hr>
				<h4>Can a Mayor issue an Executive Order?</h4>
				<p>"<a target="_blank" href="https://jerseycitynj.gov/CityHall/MayorFulop/executiveorders">An Executive Order</a> represents the manner in which the Mayor exercises his authority to <span>establish policies</span> and procedures and to set the salaries, wages or other compensation for all employees of administrative departments except department directors and employees whose salaries are required to be set by ordinance." .....</p><hr>
				<h4>History of Executive Order's</h4>
				<p>"<a target="_blank" href="https://www.britannica.com/topic/executive-order">The executive order came into use</a> before 1850, but the current numbering system goes back only to the administration of Pres. Abraham Lincoln. One of the earliest executive orders still in force (as amended) is Executive Order 9, issued January 17, 1873," .....</p><hr>
			</div>
			<p class="tableofcontents"><a class="jumpinglink" href="#sec0"> Table of Contents </a></p>
		</div>	

		<div class="flexbox-item flexbox-item-4" id="nyceo">
			<iframe class="image2" src="https://www.youtube.com/embed/Jn-Tae7b10U?start=055" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay=1; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			<div class="header-info2">
				<h1 class="green">New York CITY Executive Order's</h1>
				<h3>Please click <a target="_blank" href="https://www1.nyc.gov/office-of-the-mayor/news.page#page-1">here</a> for full list</h3>
				<h5>Set Filter by Type to Executive Orders</h5><hr>
				<h4><a target="_blank" href="https://www1.nyc.gov/office-of-the-mayor/news/078-000/executive-order-78">Executive Order 78</a></h4>
				<small>August 31, 2021</small>
				<h4>"Mandatory Vaccination or Test Requirement for City Employees and Covered Employees of City Contractors"</h4>
				<span class="dots"></span>
				<span class="more">
					<p>"Section 1.  City employees must either: <br> a. Provide the City agency or office where they work with proof of full vaccination by September 13, 2021, or<br> b. Beginning September 13, 2021, and on a weekly basis thereafter until the employee submits proof of full vaccination, provide the City agency or office where they work with proof of a negative COVID-19 PCR diagnostic test (not an antibody test). <br>
					Nothing in this Order shall preclude a City agency from requiring an employee who has been vaccinated to be tested for COVID-19 or preclude a City agency from requiring employees to be tested more frequently than once a week." .....</p>
				</span>
				<div class="read">read more</div>
				<hr>

				<h4><a href="https://www1.nyc.gov/office-of-the-mayor/news/225-001/emergency-executive-order-225" target="_blank">Emergency Executive Order 225</a></h4>
				<small>August 16, 2021</small>
				<h4>"Defeat Delta: Mayor de Blasio Announces Key to NYC Vaccination Mandate Will Begin Tomorrow, August 17"</h4>
				<span class="dots"></span>
				<span class="more">
					<p>
						"NEW YORK—Mayor Bill de Blasio today announced the Key to NYC vaccination mandate for indoor dining, entertainment and fitness will start tomorrow, August 17. Enforcement will begin, with a multi-agency coalition, on September 13." .....
					</p>
				</span>
				<div class="read">read more</div>
				<hr>

				<h4><a target="_blank" href="https://www1.nyc.gov/assets/home/downloads/pdf/executive-orders/2021/eo-75.pdf">Executive Order 75</a></h4>
				<small>August 2, 2021 </small>
				<h4>"MANDATORY VACCINATION REQUIREMENT FOR NEW HIRES"</h4>
				<span class="dots"></span>
				<span class="more">
					<p>
						"Section 1. All persons newly hired for employment by any City agency must provide proof of having received at least one dose of an approved COVID-19 vaccine prior to beginning their employment, except for those who obtain an exception due to medical or religious reasons through
						the reasonable accommodation process." .....
					</p>
				</span>
				<div class="read">read more</div>
				<hr>
			</div>
			<p class="tableofcontents"><a class="jumpinglink" href="#sec0"> Table of Contents </a></p>
		</div>

		<div class="flexbox-item flexbox-item-4" id="nyseo">
			<iframe class="image2" src="https://www.youtube.com/embed/tfjEhasaKDY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			<div class="header-info2">
				<h1 class="green">STATE of New York Executive Order's</h1>
				<h3>Please click <a target="_blank" href="https://www.governor.ny.gov/executiveorders">here</a> for full list</h3>
				<hr>
				<h4><a target="_blank" href="https://www.governor.ny.gov/news/no-4-declaring-statewide-disaster-emergency-due-healthcare-staffing-shortages-state-new-york">No. 4</a></h4>
				<small>Sep 27, 2021</small>
				<h4>No. 4: Declaring a Statewide Disaster Emergency Due to Healthcare Staffing Shortages in the State of New York</h4>
				<span class="dots"></span>
				<span class="more">
					<p>"NOW, THEREFORE, I, Kathy Hochul, Governor of the State of New York, by virtue of the authority vested in me by the Constitution and the Laws of the State of New York, do hereby find, pursuant to Section 28 of Article 2-B of the Executive Law, that a disaster is imminent in New York State, for which the affected local governments are unable to respond adequately, and I do hereby declare a Statewide disaster emergency for the entire State of New York. This Executive Order shall be in effect for thirty days from the date of this Executive Order; and" .....</p>
				</span>
				<div class="read">read more</div><hr>
			</div>
			<p class="tableofcontents"><a class="jumpinglink" href="#sec0"> Table of Contents </a></p>
		</div>
	</div>



{% endblock %}