{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}

	<div class="top_main_header">
		<p>NOTE: Please use the current website to its full functionality. Hard Coded. More to come!</p>
		<p>NOTE: Please click and read all links <span style="color: #3baff7">(blue)</span>. Please click on jumping links <span style="color: #F08080">(red)</span> to quickly view a section.</p>
		<h5 >Let's give New York a CHOICE not a MANDATE! Ensure YOUR Medical Freedom matters NOW and in the FUTURE!<br> TOGETHER we stand DIVIDED we fall! <br> My BODY My CHOICE!</h5>
	</div>
	<div class="flexbox-container1">
		<div class="flexbox-item-99">
			<br>
			<h1>New York Stand Up AGAINST Covid-19 MANDATES! <br> <span style="color: red;">Sign</span> the <span style="color: #1E90FF;">Petitions</span></h1>
			<img class="image" src="{% static 'operationfreedom/images/acf.png' %}">
			<div class="sourceone"><small class="source">United States Civil Flag. <a target="_blank" href="https://commons.wikimedia.org/wiki/File:United_States_civil_flag.svg">Editor, Public domain, via Wikimedia Commons</a></small></div>
			<div class="header-info2">	
				<h2>Take Action NOW!<br>Sign the Petitions!</h2>
				<h4><a target="_blank" href="https://www.gopetition.com/petitions/new-york-city-stop-the-covid-19-mandates.html">New York CITY Petition</a></h4>
				<h4><a target="_blank" href="https://www.gopetition.com/petitions/state-of-new-york-stop-the-covid-19-mandates.html">STATE of New York Petition</a></h4>
				<h2>EVERY Signature Counts!</h2>
				<h4>Take the <a href="{% url 'surveys' %}">Surveys</a> about covid-19 vaccines and more!</h4>
				<h4>Check out <a href="{% url 'the_plan' %}">The Plan</a> about our course of Action!</h4>
				<h4>Find out how You can help <a href="{% url 'promote_the_petitions' %}">Promote the Petitions!</a></h4>
				<h6>"The First Amendment is the cornerstone of a government of, by and for the people. One of the five freedoms it guarantees is the <a target="_blank" href="https://www.freedomforum.org/petition/">right of the people to petition the government for change.</a> The right to petition protects our right to ask the government to fix a wrong or change a policy. Petition is a powerful tool that has supported social change from the birth of our nation to ending slavery, women’s suffrage and the civil rights movement."</h6>

			</div>
		</div>
	</div>

	<p class="redjumpinglinks">Please click and read all links <span style="color: #3baff7">(blue)</span>. Please click on jumping links <span style="color: #F08080">(red)</span> to quickly view a section.</p>

	<div class="flexbox-container">
		<div class="flexbox-item flexbox-item-0" id="sec0">
			<img class="image2" src="{% static 'operationfreedom/images/welcometonyc.jpg' %}">
			<small class="source"><a target="_blank" href="https://commons.wikimedia.org/wiki/File:WelcomeToNewYork-NY35_(32906536752).jpg">formulanone from Huntsville, United States, CC BY-SA 2.0 <https://creativecommons.org/licenses/by-sa/2.0>, via Wikimedia Commons</a></small>
			<div class="header-info2">
				<h1 class="green">Table of Context</h1><hr>
				<h4> <a class="jumpinglink" href="#nycp">New York CITY Petition</a></h4><hr>
				<h4> <a class="jumpinglink" href="#nysp">State of New York Petition</a></h4><hr>
				<h4> <a class="jumpinglink" href="#myc">Make it Your Choice!</a></h4><hr>
				<h4> <a class="jumpinglink" href="#pae">Petition and Events</a></h4><hr>
				<h4> <a class="jumpinglink" href="#updates">Website Updates</a></h4><hr>
				<span class="dots"></span>
				<span class="more">
					<!-- <h4> <a class="jumpinglink" href="#aeo">About Executive Order's</a></h4><hr>
					<h4> <a class="jumpinglink" href="#nyceo">New York City Executive Order's</a></h4><hr>
					<h4> <a class="jumpinglink" href="#nyseo">State of New York Executive Order's</a></h4><hr> -->
					<!-- <h4> <a class="jumpinglink" href="#nycrv">New York City Residents Vaccinated</a></h4><hr>
					<h4> <a class="jumpinglink" href="#nysrv">State of New York Residents Vaccinated</a></h4><hr>
					<h4> <a class="jumpinglink" href="#nycwv">New York Workers Vaccinated</a></h4><hr> -->
					<h4> <a class="jumpinglink" href="#stbm">States that banned Mandates</a></h4><hr>	
					<h4> <a class="jumpinglink" href="#aop">About (Online) Petitions</a></h4><hr>
					<h4> <a class="jumpinglink" href="#opv">Online Petition Victories</a></h4>
					<h4> <a class="jumpinglink" href="#sec5"></a></h4><hr>
					<!-- <h4> <a class="jumpinglink" href="#">...</a></h4><hr>
					<h4> <a class="jumpinglink" href="#">...</a></h4><hr>
					<h4> <a class="jumpinglink" href="">...</a></h4><hr> -->
				</span>
				<div class="read">read more</div>
			</div>
		</div>
	</div>
	<div class="flexbox-container">
		<div class="flexbox-item flexbox-item-1" id="nycp">
			<img class="image2" src="{% static 'operationfreedom/images/5boroughs.png' %}">
			<small class="source"><a target="_blank" href="https://commons.wikimedia.org/wiki/File:5_Boroughs_Labels_New_York_City_Map.svg">Nafsadh, Public domain, via Wikimedia Commons</a></small>
			<div class="header-info2">
				<h1 class="green">New York CITY Petition</h1><hr>
				<h4><a target="_blank" href="https://www.gopetition.com/petitions/new-york-city-stop-the-covid-19-mandates.html">Sign the Petition</a> to SUPPORT the <a target="_blank" href="https://docdro.id/py1QnKg">Executive Order</a> which will PROHIBIT the following:</h4>
				<ul class="ul-1">
					<li>Covid-19 Vaccine Mandates</li>
					<li>Covid-19 Vaccination Proof Mandates</li>
					<li>Covid-19 Testing Mandates</li>
					<li>Mask Mandates</li>
					<li>All New York CITY <a class="jumpinglink" href="#nyceo">(Emergency) Executive Order's</a> which requires any of the above Mandates.</li>
				</ul>
				<p>***CITY Residents should also sign the <a target="_blank" href="https://www.gopetition.com/petitions/state-of-new-york-stop-the-covid-19-mandates.html">STATE Petition</a>***</p>
				<hr>
			</div>
			<p class="tableofcontents"><a class="jumpinglink" href="#sec0"> Table of Contents </a></p>
		</div>

		<div class="flexbox-item flexbox-item-2" id="nysp">
			<img class="image2" src="{% static 'operationfreedom/images/nystateregions.png' %}">
			<small class="source"><a target="_blank" href="https://commons.wikimedia.org/wiki/File:Map_of_New_York_Economic_Regions.svg">Vmanjr, CC BY-SA 3.0 <https://creativecommons.org/licenses/by-sa/3.0>, via Wikimedia Commons</a></small>
			<div class="header-info2">
				<h1 class="green">STATE of New York Petition</h1><hr>
				<h4><a target="_blank" href="https://www.gopetition.com/petitions/state-of-new-york-stop-the-covid-19-mandates.html">Sign the Petition</a> to SUPPORT the <a target="_blank" href="https://docdro.id/tj3fwVj">Executive Order</a> which will PROHIBIT the following:</h4>
				<ul class="ul-1">
					<li>Covid-19 Vaccine Mandates</li>
					<li>Covid-19 Vaccination Proof Mandates</li>
					<li>Covid-19 Testing Mandates</li>
					<li>Mask Mandates</li>
					<li>All STATE of New York <a class="jumpinglink" href="#nyseo">(Emergency) Executive Order's</a> which requires any of the above Mandates.</li>
				</ul>
				<hr>
			</div>
			<p class="tableofcontents"><a class="jumpinglink" href="#sec0"> Table of Contents </a></p>
		</div>
		<div class="flexbox-item flexbox-item-3" id="myc">
			<img class="image2" src="{% static 'operationfreedom/images/statueofliberty.jpg' %}">
			<small class="source"><a target="_blank" href="https://commons.wikimedia.org/wiki/File:Statue_of_Liberty,_NY.jpg">William Warby, CC BY 2.0 <https://creativecommons.org/licenses/by/2.0>, via Wikimedia Commons</a></small>
			<div class="header-info2">
				<h1 class="green">Make it Your Choice!</h1><hr>
				<h4>Do not ALLOW your GOVERNOR or MAYOR to continue with COVID-19 MANDATES.<br>Take ACTION NOW!<br><a class="jumpinglink" href="#nycp"><span>Sign the Petitions</span></a></h4>
				<ul>
					<li>FULLY vaccinated:<br> Do not WAIT for Booster Shots to be mandated.</li>
					<li>PARTIALLY vaccinated:<br> Do not WAIT for the 2nd Dose to be mandated (in many cases 2nd dose is already mandated).</li>
					<li>NOT YET vaccinated:<br> Do not allow the continuation of mandates that require Partial or Full vaccination.</li>
				</ul>
				<h5 class="takeactionnow">Take ACTION NOW!<br><a class="jumpinglink" href="#nycp"><span>Sign the Petitions!</span></a></h5>
				<hr>
			</div>
			<p class="tableofcontents"><a class="jumpinglink" href="#sec0"> Table of Contents </a></p>
		</div>
		<div class="flexbox-item flexbox-item-1" id="pae">
			<img class="image2" src="{% static 'operationfreedom/images/empire building.jpg' %}">
			<small class="source"><a target="_blank" href="https://commons.wikimedia.org/wiki/File:Midtown_Manhattan_from_Jersey_City_September_2020_HDR.jpg">King of Hearts, CC BY-SA 4.0 <https://creativecommons.org/licenses/by-sa/4.0>, via Wikimedia Commons</a></small>
			<div class="header-info2">
				<h1 class="green">Petition and Events</h1><hr>
				<h3>Fellow New Yorkers! Take the time to stay updated with the Petitions and Events! You will receive an email as well!</h3><br>
				<h3>Events may include</h3>
				<ul class="ul-1">
					<li>Peaceful Protest Gatherings <br> Time: <br> Date: <br> Uniform color:</li>
					<li>Petition Submission to Mayor or Governor's Office<br> Time: <br> Date:</li>
					<li>Mass <a target="_blank" href="https://www1.nyc.gov/office-of-the-mayor/mayor-contact.page">Contact the Mayor</a> or <a target="_blank" href="https://www.governor.ny.gov/content/governor-contact-form">Send a Message to the Governor</a> fill out forms. Let's consistently contact our officials with our concerns as residents! <br> Time: <br> Date:</li>
				</ul>
			<hr>
			</div>
			<p class="tableofcontents"><a class="jumpinglink" href="#sec0"> Table of Contents </a></p>
		</div>
		<div class="flexbox-item flexbox-item-1" id="updates">
			<img class="image2" src="{% static 'operationfreedom/images/Statue_of_Liberty_Solar_Eclipse.jpg' %}">
			<small class="source"><a target="_blank" href="https://commons.wikimedia.org/wiki/File:Statue_of_Liberty_Annular_Solar_Eclipse_(51239095574).jpg">Anthony Quintano from Mount Laurel, United States, CC BY 2.0 <https://creativecommons.org/licenses/by/2.0>, via Wikimedia Commons</a></small>
			<div class="header-info2">
				<h1 class="green">Website Updates</h1><hr>
				<h3>Fellow New Yorkers! Take the time to stay updated with the Websites content!</h3><br>
				<h3>Updates may include</h3>
				<ul class="ul-1">
					<li>New pages</li>
					<li>New documents and videos</li>
					<li>The latest information on covid-19 mandates in New York City and State</li>
				</ul>
			<hr>
			</div>
			<p class="tableofcontents"><a class="jumpinglink" href="#sec0"> Table of Contents </a></p>
		</div>
	</div>

	

	<div class="flexbox-container">
		<div class="flexbox-item flexbox-item-6" id="stbm">
			<img class="image2" src="{% static 'operationfreedom/images/redx.png' %}">
			<small class="source"><a target="_blank" href="https://commons.wikimedia.org/wiki/File:Heavy_red_%22x%22.png">Yerson_O, CC BY-SA 3.0 <http://creativecommons.org/licenses/by-sa/3.0/>, via Wikimedia Commons</a></small>
			<div class="header-info2">
				<h1 class="green">States that banned Mandates</h1><hr>
				<h4>Vaccine Mandates<br>Vaccination Proof</h4>
				<ul class="ul-1">
					<li>"<a target="_blank" href="https://www.beckershospitalreview.com/workforce/11-states-banning-covid-19-vaccine-mandates-how-it-affects-healthcare-workers.html">12 states banning</a> COVID-19 vaccine mandates& how they affect healthcare workers"</li>
					<li>"<a target="_blank" href=https://www.nashp.org/state-lawmakers-submit-bills-to-ban-employer-vaccine-mandates/">State Efforts to Ban</a> or Enforce COVID-19 Vaccine Mandates and Passports"</li>
				</ul>
				<hr>
				<h4>Mask Mandates</h4>
				<ul class="ul-1">
					<li>"A Look at <a target="_blank" href="https://www.usnews.com/news/best-states/articles/2021-09-14/school-mask-mandates-by-state">School Mask Mandates by State</a>"</li>
					<li>"Montana Becomes Latest State To <a target="_blank" href="https://www.forbes.com/sites/alisondurkee/2021/08/31/montana-becomes-latest-state-to-restrict-school-mask-mandates---heres-the-full-list/?sh=1dc41e7a44a1">Restrict School Mask Mandates</a> — Here’s The Full List"</li>
					<li>"10 States Have School Mask Mandates While <a target="_blank" href="https://www.pewtrusts.org/en/research-and-analysis/blogs/stateline/2021/08/10/10-states-have-school-mask-mandates-while-8-forbid-them">8 Forbid Them</a>"</li>
				</ul>
				<hr>
			</div>
			<p class="tableofcontents"><a class="jumpinglink" href="#sec0"> Table of Contents </a></p>
		</div>

		<div class="flexbox-item flexbox-item-7" id="aop">
			<img class="image2" src="{% static 'operationfreedom/images/onlinepetition.png' %}">
			<small class="source"><a target="_blank" href="https://thenounproject.com/term/petition/638675/">petition by MRFA from the Noun Project</a></small>
			<div class="header-info2">
				<h1 class="green">About (Online) Petitions</h1><hr>
				<h4>What is a Petition?</h4>
				<p>"A <a target="_blank" href="https://ballotpedia.org/Petition">petition</a> is a request to an authority, most commonly a government official or public entity." .....</p><hr>
				<h4>What is a Online Petition?</h4>
				<p>"An <a target="_blank" href="https://en.wikipedia.org/wiki/Online_petition#:~:text=An%20online%20petition%20(or%20Internet,a%20form%20on%20a%20website.&text=Typically%2C%20after%20there%20are%20enough,%2C%20usually%20via%20e%2Dmail.">online petition</a> (or Internet petition, or e-petition) is a form of petition which is signed online, usually through a form on a website. Typically, after there are enough signatories, the resulting letter may be delivered to the subject of the petition, usually via e-mail." .....</p><hr>
				<span class="dots"></span>
				<span class="more">
					<h4>Brief History of Petitions</h4>
					<p>"<a target="_blank" href="https://www.americanbar.org/groups/public_education/publications/insights-on-law-and-society/volume-20/issue-1/learning-gateways--right-to-petition/">Petitioning was open to everyone,</a> including people not eligible to vote, so it became an important means for expressing opinions, persuading legislators, and, ultimately, influencing the political landscape of the new nation. In fact, scholars have determined that petitioning led to more legislative action in early America than any other source." .....</p><hr>
					<h4>Your Signature Matters!</h4>
					<p><a target="_blank" href="https://www.americanbar.org/groups/public_education/publications/insights-on-law-and-society/volume-20/issue-1/learning-gateways--right-to-petition/">"when we sign a petition,</a> we can be sure that we’re following a long tradition of pursuing civic and political action individually to achieve a much larger political social goal." .....</p><hr>
				</span>
				<div class="read">read more</div>
			</div>
			<p class="tableofcontents"><a class="jumpinglink" href="#sec0"> Table of Contents </a></p>
		</div>

		<div class="flexbox-item flexbox-item-8" id="opv">
			<img class="image2" src="{% static 'operationfreedom/images/successfulonlinepetition.png' %}">
			<small class="source"><a target="_blank" href="https://thenounproject.com/term/petition/638675/">petition by MRFA from the Noun Project</a></small>
			<div class="header-info2">
				<h1 class="green">Online Petition Victories</h1><hr>
				<h4>Change.org</h4>
				<p>"Over the past decade, people took to Change.org to raise attention to criminal justice issues, honor community heroes and challenge pharmaceutical companies and other businesses." <a target="_blank" href="https://www.cnn.com/2019/12/22/us/top-petitions-decade-change-trnd/index.html#paragraph_BC6211AD-E9ED-7716-8810-1EE3C71638EB">These are 10 of the biggest victories</a>, according to Change.org." .....</p><hr>
				<h4>Avaaz.org</h4>
				<p>"Avaaz is a global web movement to bring people-powered politics to decision-making everywhere."<br><a target="_blank" href="https://secure.avaaz.org/page/en/highlights/">Victories</a> .....</p><hr>
				<h4>care2.com</h4>
				<iframe class="image2" src="https://www.youtube.com/embed/FXbZHGfqNLg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				<p><a target="_blank" href="https://www.care2.com/">New Petition Wins Every Day!</a></p><hr>
			</div>
			<p class="tableofcontents"><a class="jumpinglink" href="#sec0"> Table of Contents </a></p>
		</div>
	</div>

{% endblock %}