{% extends 'base.html' %}
{% load static %}
{% block title %}Spread the Word{% endblock %}
{% block content %}

	<div class="flexbox-container1">
		<div class="flexbox-item-99">
			<h1 class="green">New Yorkers! Help Promote the Petitions!</h1>
			<img class="image" src="{% static 'operationfreedom/images/medicalfreedom.jpg' %}">
			<div class="sourceone"><small class="source"><a target="_blank" href="https://commons.wikimedia.org/wiki/File:DSC_0416_(51364176375).jpg">Hayley Tschetter, CC BY-SA 2.0 <https://creativecommons.org/licenses/by-sa/2.0>, via Wikimedia Commons</a></small></div>
			<div class="header-info2">
				<h2>Are you a REAL NEW YORKER?</h2>
				<h3>By promoting the Petitions, you SUPPORT and WANT Medical Choice for you and your other fellow New Yorkers!</h3>
				<h4>Please use the information and advice below to help promote!</h4>
				<h4>Download and print the <a target="_blank" href="https://docdro.id/y4S4qee">NY Stop the Mandate PDF</a> and Promote the Petitions!</h4>
			</div>
		</div>
	</div>
	<div class="flexbox-container">
		<div class="flexbox-item flexbox-item-20" id="sec0">
			<div class="header-info2">
				<h1 class="green">Table of Context</h1><hr>
				<h4> <a class="jumpinglink" href="#qaewtp">Quick and Effective ways to Promote</a></h4><hr>
				<h4> <a class="jumpinglink" href="#pt">Promoter Tips</a></h4><hr>
				<h4> <a class="jumpinglink" href="#gra">Grassroots Actions</a></h4><hr>
				<h4> <a class="jumpinglink" href="#waop">Why an Online Petition</a></h4><hr>
				<h4> <a class="jumpinglink" href="#topa">The Online Petitions are ..</a></h4><hr>
			</div>
		</div>
	</div>
	<div class="flexbox-container">
		<div class="flexbox-item flexbox-item-22" id="qaewtp">
			<div class="header-info2">
				<h1 class="green">Quick and Effective ways to Promote!</h1><hr>
				<ul class="ul-1">
					<li>Reach out to Family and Friends in NEW YORK ONLY who YOU KNOW WANTS Medical Choice!</li>
					<li>Share the Petition on Social Media!
						<ul class="ul-1">
							<li>YouTube</li>
							<li>Facebook</li>
							<li>Twitter</li>
							<li>Instagram</li>
							<li>Pinterest</li>
						</ul>
						and others!
					</li>
				</ul>
			</div>
			<hr><p class="tableofcontents"><a class="jumpinglink" href="#sec0"> Table of Contents </a></p>
		</div>
		<div class="flexbox-item flexbox-item-23" id="pt">
			<div class="header-info2">
				<h1 class="green">Promoter Tips</h1><hr>
				<h2>Say the following statement if you are promoting the Petition to the ...</h2>
				<ul class="ul-1">
					<li>Fully Vaccinated:<br> "If you want to ENSURE the BOOSTER SHOT is a CHOICE then SIGN THE PETITION!" </li>
					<li>Partially Vaccinated:<br> "If you want to ENSURE your CHOICE for the 2nd Dose then SIGN THE PETITION! In many cases the 2nd Dose is already MANDATED!"</li>
					<li>Not Vaccinated:<br> "If you want your FREEDOM of CHOICE BACK then SIGN THE PETITION!"</li>
				</ul>
				<h2>As the Promoter you must insist that it ONLY TAKES ONE MINUTE to sign, ONE MINUTE to support THEIR OWN Medical Choice!</h2>
			</div>
			<hr><p class="tableofcontents"><a class="jumpinglink" href="#sec0"> Table of Contents </a></p>
		</div>
		<div class="flexbox-item flexbox-item-24" id="gra">
			<div class="header-info2">
				<h1 class="green">Grassroot Actions</h1><hr>
				<h2>Download and Print the following document.</h2>
				<h2><a target="_blank" href="https://www.docdroid.com/y4S4qee/new-york-stand-up-pdf">NY Stop the Mandate PDF</a></h2>
				<h3>Go to your Local:</h3>
				<ul class="ul-1">
					<li>NYPD Precent</li>
					<li>FDNY House</li>
					<li>Hospital</li>
					<li>Supermarkets</li>
					<li>Restaurants</li>
					<li>Local Stores</li>
					<li>and others ... </li>
				</ul>
				<h3>Ask if you may leave copies of the Petitions Word document or even post it on their business! The more the Petition is visible the better for promotion and signatures!</h3>
			</div>
			<hr><p class="tableofcontents"><a class="jumpinglink" href="#sec0"> Table of Contents </a></p>
		</div>
		<div class="flexbox-item flexbox-item-20" id="waop">
			<div class="header-info2">
				<h1 class="green">Why an Online Petition?</h1><hr>
				<p>The life of a New Yorker can be extremely busy every minute counts! This is why it ONLY TAKES ONE MINUTE to sign the Online Petitions. ONE MINUTE to support Medical Choice!</p>
			</div>
			<hr><p class="tableofcontents"><a class="jumpinglink" href="#sec0"> Table of Contents </a></p>
		</div>
		<div class="flexbox-item flexbox-item-21" id="topa">
			<div class="header-info2">
				<h1 class="green">The Online Petitions are ...</h1><hr>
				<ul class="ul-1">
					<li>Simple to Sign</li>
					<li>Easy to Understand</li>
					<li>Direct</li>
					<li>Efficient way to gather Signatures</li>
				</ul>
			</div>
			<hr><p class="tableofcontents"><a class="jumpinglink" href="#sec0"> Table of Contents </a></p>
		</div>
	</div>

{% endblock %}