{% extends 'base.html' %}
{% load static %}
{% block title %}Surveys{% endblock %}
{% block content %}



	<div class="flexbox-container1">
		<div class="flexbox-item-99">
			<h1 class="green">Take the Surveys</h1>
			<img class="image" src="{% static 'operationfreedom/images/coercion is not consent.jpg' %}">
			<div class="sourceone">
				<small class="source">
					<a target="_blank" href="https://commons.wikimedia.org/wiki/File:DSC_0408_(51363166011).jpg">Hayley Tschetter, CC BY-SA 2.0 <https://creativecommons.org/licenses/by-sa/2.0>, via Wikimedia Commons</a>
				</small>
			</div>
			<div class="header-info2">
				<h1 class="green">Purpose of the Surveys</h1>
				<h4>These surveys ask important questions concerning covid-19, mandates, and coercion. The answers to the survey questions may give the public a better understanding of how others felt about certain topics like covid-19, vaccines, medical devices and more. These surveys will always be displayed for the public.</h4>
			</div>
		</div>
	</div>
	<div class="flexbox-container">
		<div class="flexbox-item flexbox-item-0" id="sec0">
			<div class="header-info2">
				<h1 class="green">Table of Context</h1><hr>
				<h4> <a class="jumpinglink" href="#wic">What is Coercion?</a></h4><hr>
				<h4> <a class="jumpinglink" href="#qftwav">Questions for those who are Vaccinated</a></h4><hr>
				<h4> <a class="jumpinglink" href="#qfavs">Questions for all Vaccine statuses</a></h4><hr>
			</div>
		</div>
	</div>
	<br><br>


	<div class="flexbox-container">
		<div class="flexbox-item flexbox-item-121" id="wic">
			<div class="header-info2">
				<h1 class="green">What is coercion?</h1><hr>
				<h4><a target="_blank" href="https://www.dictionary.com/browse/coercion">dictionary</a>: the act of coercing; use of force or intimidation to obtain compliance.</h4>
				<h4><a target="_blank" href="https://noqreport.com/2021/10/06/kim-iversen-on-vaccine-mandates-coercion-works-but-is-it-ethical/">noqreport</a>: “Doctors, airline pilots, lawyers, contractors, news anchors, teachers, nurses and more are being told they need to get the vaccine despite any of their personal objections, or lose their job.”</h4>
			</div>
			<div class="flexbox-container">
				{% if survey.9 %}
					
					<div class="flexbox-item flexbox-item-121">
						<div class="header-info2">

						<h2>Do you consider the above statement as coercion to take the covid-19 vaccine?</h2>
							<center>
								{% if user.is_authenticated %}
			                        <div class="flex space-x-8 font-medium text-gray-700 text-xl">
			                            <form action="{%url 'likes' survey.9.id%}" method="POST" class="like-form9">
			                                {%csrf_token%}
			                                {%if user not in survey.9.likes.all %}
				                                <button type="submit"  class="like-btn9 like-icon9" name="video_id" value="{{survey.9.id}}">	                                   			                                    
				                                    <span viewBox="0 0 20 20" width="24" height="24">
				                                        Yes
				                                    </span>
				                                </button>
			                                {%else%}
			                                	<button type="submit"  class="like-btn9 like-icon9 btn-success" name="video_id" value="{{survey.9.id}}" padding-bottom="10">
				                                    <span viewBox="0 0 20 20" width="24" height="24">
				                                        Yes
				                                    </span>
				                                </button>
			                                {%endif%}
			                                <span class="like_count" id="like_count9">{{survey.9.num_likes}}</span>
			                             </form>

			                            <form action="{% url 'dislikes' survey.9.id%}" method="POST" class="dislike-form9">
			                                {% csrf_token %}
			                                {%if user not in survey.9.dislikes.all %}
				                                <button type="submit" class="dislike-btn9 dislike-icon9" name="video_id" value="{{survey.9.id}}">	                         			                                    
				                                    <span viewBox="0 0 20 20" width="24" height="24">
				                                        No
				                                    </span>
				                                </button>
			                                {%else%}
			                                	<button type="submit" class="dislike-btn9 dislike-icon9 btn-success" name="video_id" value="{{survey.9.id}}">	   
				                                    <span viewBox="0 0 20 20" width="24" height="24">
				                                        No
				                                    </span>
			                                    </button>
			                                {%endif%}			                                
			                                <span class="dislike_count" id="dislike_count9">{{survey.9.num_dislikes}}</span>
			                            </form>
		                        	</div>
			                    {% else %}
									<p>{{ survey.9.num_likes }} &nbsp; Yes</p>
									<p>{{ survey.9.num_dislikes }} &nbsp; No</p>
									<h5>Only Users can answer survey questions! Please <a href="{% url 'login' %}">login</a> or <a href="{% url 'register' %}">register!</a></h5>
								{% endif %}
		                    </center>
		                </div>
		            </div>	

		        {% endif %}
		    </div>
		    <h3>Take the following survey questions! Let's see how New Yorkers feel about covid-19 mandates and coercion!</h3>
    	</div>
		
	</div>
	<br><br>

	

	
	<h1 class="survey_header green" id="qftwav">Questions for those who are Vaccinated</h1><hr>
	<div class="flexbox-container">
		{% if survey.0 %}
			<div class="flexbox-item flexbox-item-121">
				<div class="header-info2">
					<!-- <h2>{{ survey.0.question }}</h2><br>
					<h4>{{ survey.0.extra_info }}</h4> -->

					<h2>Did you feel coerced into taking the covid-19 vaccine?</h2>
					<h4>Reasons you may of felt coerced: Your Governor, Mayor, or Employer mandates you to be vaccinated in order to:</h4>
					
					<ul class="ul-1">
						<li>Continue working</li>
						<li>Become employed in many Public and Private sector jobs</li>
						<li>Enter restaurants, fitness centers, theaters</li>
						<li>Attend school or college</li>
					</ul>
					
					<center>
						{% if user.is_authenticated %}
	                        <div class="flex space-x-8 font-medium text-gray-700 text-xl">
	                            <form action="{%url 'likes' survey.0.id%}" method="POST" class="like-form0">
	                                {%csrf_token%}
	                                {%if user not in survey.0.likes.all %}
		                                <button type="submit"  class="like-btn0 like-icon0" name="video_id" value="{{survey.0.id}}">	                                   			                                    
		                                    <span viewBox="0 0 20 20" width="24" height="24">
		                                        Yes
		                                    </span>
		                                </button>
	                                {%else%}
	                                	<button type="submit"  class="like-btn0 like-icon0 btn-success" name="video_id" value="{{survey.0.id}}" padding-bottom="10">
		                                    <span viewBox="0 0 20 20" width="24" height="24">
		                                        Yes
		                                    </span>
		                                </button>
	                                {%endif%}
	                                <span class="like_count" id="like_count0">{{survey.0.num_likes}}</span>
	                             </form>

	                            <form action="{% url 'dislikes' survey.0.id%}" method="POST" class="dislike-form0">
	                                {% csrf_token %}
	                                {%if user not in survey.0.dislikes.all %}
		                                <button type="submit" class="dislike-btn0 dislike-icon0" name="video_id" value="{{survey.0.id}}">	                         			                                    
		                                    <span viewBox="0 0 20 20" width="24" height="24">
		                                        No
		                                    </span>
		                                </button>
	                                {%else%}
	                                	<button type="submit" class="dislike-btn0 dislike-icon0 btn-success" name="video_id" value="{{survey.0.id}}">	   
		                                    <span viewBox="0 0 20 20" width="24" height="24">
		                                        No
		                                    </span>
	                                    </button>
	                                {%endif%}			          
	                                <span class="dislike_count" id="dislike_count0">{{survey.0.num_dislikes}}</span>
	                            </form>
                        	</div>
	                    {% else %}
							<p>{{ survey.0.num_likes }} &nbsp; Yes</p>
							<p>{{ survey.0.num_dislikes }} &nbsp; No</p>
							<h5>Only Users can answer survey questions! Please <a href="{% url 'login' %}">login</a> or <a href="{% url 'register' %}">register!</a></h5>
						{% endif %}
                    </center>
                </div>
            </div>		
		{% endif %}
		{% if survey.1 %}
			<div class="flexbox-item flexbox-item-121">
				<div class="header-info2">
					<!-- <h2>{{ survey.1.question }}</h2><br>
					<h4>{{ survey.1.extra_info }}</h4> -->

					
					<h2>Did you take the covid-19 vaccine for reasons OTHER THAN HEALTH?</h2>
					<h4>Other reasons may be to:</h4>
					
					<ul class="ul-1">
						<li>Continue working</li>
						<li>Become employed in many Public and Private sector jobs</li>
						<li>Attend restaurants, fitness centers, theaters</li>
						<li>Attend school, college</li>
					</ul>
					
					<center>
						{% if user.is_authenticated %}
	                        <div class="flex space-x-8 font-medium text-gray-700 text-xl">
	                            <form action="{%url 'likes' survey.1.id%}" method="POST" class="like-form1">
	                                {%csrf_token%}
	                                {%if user not in survey.1.likes.all %}
		                                <button type="submit"  class="like-btn1 like-icon1" name="video_id" value="{{survey.1.id}}">	                                   			                                    
		                                    <span viewBox="0 0 20 20" width="24" height="24">
		                                        Yes
		                                    </span>
		                                </button>
	                                {%else%}
	                                	<button type="submit"  class="like-btn1 like-icon1 btn-success" name="video_id" value="{{survey.1.id}}">
		                                    <span viewBox="0 0 20 20" width="24" height="24">
		                                        Yes
		                                    </span>
		                                </button>
	                                {%endif%}
	                                <span class="like_count" id="like_count1">{{survey.1.num_likes}}</span>
	                             </form>

	                            <form action="{% url 'dislikes' survey.1.id%}" method="POST" class="dislike-form1">
	                                {% csrf_token %}
	                                {%if user not in survey.1.dislikes.all %}
		                                <button type="submit" class="dislike-btn1 dislike-icon1" name="video_id" value="{{survey.1.id}}">	                         			                                    
		                                    <span viewBox="0 0 20 20" width="24" height="24">
		                                        No
		                                    </span>
		                                </button>
	                                {%else%}
	                                	<button type="submit" class="dislike-btn1 dislike-icon1 btn-success" name="video_id" value="{{survey.1.id}}">	   
		                                    <span viewBox="0 0 20 20" width="24" height="24">
		                                        No
		                                    </span>
	                                    </button>
	                                {%endif%}			    
	                                <span class="dislike_count" id="dislike_count1">{{survey.1.num_dislikes}}</span>
	                            </form>
                        	</div>
	                    {% else %}
							<p>{{ survey.1.num_likes }} &nbsp; Yes</p>
							<p>{{ survey.1.num_dislikes }} &nbsp; No</p>
							<h5>Only Users can answer survey questions! Please <a href="{% url 'login' %}">login</a> or <a href="{% url 'register' %}">register!</a></h5>
						{% endif %}
                    </center>
                </div>
            </div>		
		{% endif %}
		{% if survey.2 %}
			<div class="flexbox-item flexbox-item-121">
				<div class="header-info2">
					<h2>Do you plan on taking the booster shot?</h2>
					<h4>According to the <a target="_blank" href="https://www.cdc.gov/coronavirus/2019-ncov/vaccines/faq.html">CDC</a><br>"How long does protection from a covid19 vaccine last?"</h4>
					
					<ul class="ul-1">
						<li>"Recent studies show that protection against the virus may decrease over time."</li>		
					</ul>
					<span class="dots"></span>
					<span class="more">
					<ul class="ul-1">												
						<li>" People who received the Pfizer-BioNTech or Moderna COVID-19 vaccine for their primary series should get a booster shot at least 6 months after completing the primary series."</li>
						<li>"People who received Johnson & Johnson’s Janssen COVID-19 vaccine should get a booster shot at least 2 months after getting their first shot."</li>	
					</ul>	
					</span>
					<div class="read">read more</div>	
					<h6>Updated Jan. 11, 2022</h6>			
					</ul>
					
					<center>
						{% if user.is_authenticated %}
	                        <div class="flex space-x-8 font-medium text-gray-700 text-xl">
	                            <form action="{%url 'likes' survey.2.id%}" method="POST" class="like-form2">
	                                {%csrf_token%}
	                                {%if user not in survey.2.likes.all %}
		                                <button type="submit"  class="like-btn2 like-icon2" name="video_id" value="{{survey.2.id}}">	                                   			                                    
		                                    <span viewBox="0 0 20 20" width="24" height="24">
		                                        Yes
		                                    </span>
		                                </button>
	                                {%else%}
	                                	<button type="submit"  class="like-btn2 like-icon2 btn-success" name="video_id" value="{{survey.2.id}}">
		                                    <span viewBox="0 0 20 20" width="24" height="24">
		                                        Yes
		                                    </span>
		                                </button>
	                                {%endif%}
	                                <span class="like_count" id="like_count2">{{survey.2.num_likes}}</span>
	                             </form>


	                            <form action="{% url 'dislikes' survey.2.id%}" method="POST" class="dislike-form2">
	                                {% csrf_token %}
	                                {%if user not in survey.2.dislikes.all %}
		                                <button type="submit" class="dislike-btn2 dislike-icon2" name="video_id" value="{{survey.2.id}}">	                         			                                    
		                                    <span viewBox="0 0 20 20" width="24" height="24">
		                                        No
		                                    </span>
		                                </button>
	                                {%else%}
	                                	<button type="submit" class="dislike-btn2 dislike-icon2 btn-success" name="video_id" value="{{survey.2.id}}">	   
		                                    <span viewBox="0 0 20 20" width="24" height="24">
		                                        No
		                                    </span>
	                                    </button>
	                                {%endif%}			    
	                                <span class="dislike_count" id="dislike_count2">{{survey.2.num_dislikes}}</span>
	                            </form>
                        	</div>
	                    {% else %}
							<p>{{ survey.2.num_likes }} &nbsp; Yes</p>
							<p>{{ survey.2.num_dislikes }} &nbsp; No</p>
							<h5>Only Users can answer survey questions! Please <a href="{% url 'login' %}">login</a> or <a href="{% url 'register' %}">register!</a></h5>
						{% endif %}
                    </center>
                </div>
            </div>		
		{% endif %}
		{% if survey.3 %}
			<div class="flexbox-item flexbox-item-121">
				<div class="header-info2">
					<h2>Are you afraid of being near an unvaccinated individual?</h2>
					<h4>For example Unvaccinated:</h4>
					
					<ul class="ul-1">
						<li>Family members</li>
						<li>Friends</li>
						<li>Co-workers</li>
					</ul>
					<center>
						{% if user.is_authenticated %}
	                        <div class="flex space-x-8 font-medium text-gray-700 text-xl">
	                            <form action="{%url 'likes' survey.3.id%}" method="POST" class="like-form3">
	                                {%csrf_token%}
	                                {%if user not in survey.3.likes.all %}
		                                <button type="submit"  class="like-btn3 like-icon3" name="video_id" value="{{survey.3.id}}">	                                   			                                    
		                                    <span viewBox="0 0 20 20" width="24" height="24">
		                                        Yes
		                                    </span>
		                                </button>
	                                {%else%}
	                                	<button type="submit"  class="like-btn3 like-icon3 btn-success" name="video_id" value="{{survey.3.id}}">
		                                    <span viewBox="0 0 20 20" width="24" height="24">
		                                        Yes
		                                    </span>
		                                </button>
	                                {%endif%}
	                                <span class="like_count" id="like_count3">{{survey.3.num_likes}}</span>
	                             </form>


	                            <form action="{% url 'dislikes' survey.3.id%}" method="POST" class="dislike-form3">
	                                {% csrf_token %}
	                                {%if user not in survey.3.dislikes.all %}
		                                <button type="submit" class="dislike-btn3 dislike-icon3" name="video_id" value="{{survey.3.id}}">	                         			                                    
		                                    <span viewBox="0 0 20 20" width="24" height="24">
		                                        No
		                                    </span>
		                                </button>
	                                {%else%}
	                                	<button type="submit" class="dislike-btn3 dislike-icon3 btn-success" name="video_id" value="{{survey.3.id}}">	   
		                                    <span viewBox="0 0 20 20" width="24" height="24">
		                                        No
		                                    </span>
	                                    </button>
	                                {%endif%}			    
	                                <span class="dislike_count" id="dislike_count3">{{survey.3.num_dislikes}}</span>
	                            </form>
                        	</div>
	                    {% else %}
							<p>{{ survey.3.num_likes }} &nbsp; Yes</p>
							<p>{{ survey.3.num_dislikes }} &nbsp; No</p>
							<h5>Only Users can answer survey questions! Please <a href="{% url 'login' %}">login</a> or <a href="{% url 'register' %}">register!</a></h5>
						{% endif %}
                    </center>
                </div>
            </div>		
		{% endif %}
		{% if survey.8 %}
			<div class="flexbox-item flexbox-item-121">
				<div class="header-info2">
					<h2>Have you tested positive for covid-19 after being fully vaccinated?</h2>					
					<center>
						{% if user.is_authenticated %}
	                        <div class="flex space-x-8 font-medium text-gray-700 text-xl">
	                            <form action="{%url 'likes' survey.8.id%}" method="POST" class="like-form8">
	                                {%csrf_token%}
	                                {%if user not in survey.8.likes.all %}
		                                <button type="submit"  class="like-btn8 like-icon8" name="video_id" value="{{survey.8.id}}">	                                   			                                    
		                                    <span viewBox="0 0 20 20" width="24" height="24">
		                                        Yes
		                                    </span>
		                                </button>
	                                {%else%}
	                                	<button type="submit"  class="like-btn8 like-icon8 btn-success" name="video_id" value="{{survey.8.id}}">
		                                    <span viewBox="0 0 20 20" width="24" height="24">
		                                        Yes
		                                    </span>
		                                </button>
	                                {%endif%}
	                                <span class="like_count" id="like_count8">{{survey.8.num_likes}}</span>
	                             </form>


	                            <form action="{% url 'dislikes' survey.8.id%}" method="POST" class="dislike-form8">
	                                {% csrf_token %}
	                                {%if user not in survey.8.dislikes.all %}
		                                <button type="submit" class="dislike-btn8 dislike-icon8" name="video_id" value="{{survey.8.id}}">	                         			                                    
		                                    <span viewBox="0 0 20 20" width="24" height="24">
		                                        No
		                                    </span>
		                                </button>
	                                {%else%}
	                                	<button type="submit" class="dislike-btn8 dislike-icon8 btn-success" name="video_id" value="{{survey.8.id}}">	   
		                                    <span viewBox="0 0 20 20" width="24" height="24">
		                                        No
		                                    </span>
	                                    </button>
	                                {%endif%}			    
	                                <span class="dislike_count" id="dislike_count8">{{survey.8.num_dislikes}}</span>
	                            </form>
                        	</div>
	                    {% else %}
							<p>{{ survey.8.num_likes }} &nbsp; Yes</p>
							<p>{{ survey.8.num_dislikes }} &nbsp; No</p>
							<h5>Only Users can answer survey questions! Please <a href="{% url 'login' %}">login</a> or <a href="{% url 'register' %}">register!</a></h5>
						{% endif %}
                    </center>
                </div>
            </div>		
		{% endif %}
	</div>
	<p class="tableofcontents"><a class="jumpinglink" href="#sec0"> Table of Contents </a></p>
	<br><br><br>



	<h1 class="survey_header green" id="qfavs">Questions for all Vaccine statuses</h1><hr>
	<div class="flexbox-container" >
	{% if survey.4 %}
		<div class="flexbox-item flexbox-item-121">
			<div class="header-info2">
				<h2>Do you feel coerced by your Governor, Mayor, or Employer to wear a mask?</h2>
				<h4>For example to:</h4>
					
				<ul class="ul-1">
					<li>Continue working</li>
					<li>Enter restaurants, fitness centers, theaters</li>
					<li>Attend school or college</li>
					<li>Enter public transportation</li>
				</ul>
				<center>
					{% if user.is_authenticated %}
                        <div class="flex space-x-8 font-medium text-gray-700 text-xl">
                            <form action="{%url 'likes' survey.4.id%}" method="POST" class="like-form4">
                                {%csrf_token%}
                                {%if user not in survey.4.likes.all %}
	                                <button type="submit"  class="like-btn4 like-icon4" name="video_id" value="{{survey.4.id}}">	                                   			                                    
	                                    <span viewBox="0 0 20 20" width="24" height="24">
	                                        Yes
	                                    </span>
	                                </button>
                                {%else%}
                                	<button type="submit"  class="like-btn4 like-icon4 btn-success" name="video_id" value="{{survey.4.id}}">
	                                    <span viewBox="0 0 20 20" width="24" height="24">
	                                        Yes
	                                    </span>
	                                </button>
                                {%endif%}
                                <span class="like_count" id="like_count4">{{survey.4.num_likes}}</span>
                             </form>


                            <form action="{% url 'dislikes' survey.4.id%}" method="POST" class="dislike-form4">
                                {% csrf_token %}
                                {%if user not in survey.4.dislikes.all %}
	                                <button type="submit" class="dislike-btn4 dislike-icon4" name="video_id" value="{{survey.4.id}}">	                         			                                    
	                                    <span viewBox="0 0 20 20" width="24" height="24">
	                                        No
	                                    </span>
	                                </button>
                                {%else%}
                                	<button type="submit" class="dislike-btn4 dislike-icon4 btn-success" name="video_id" value="{{survey.4.id}}">	   
	                                    <span viewBox="0 0 20 20" width="24" height="24">
	                                        No
	                                    </span>
                                    </button>
                                {%endif%}			    
                                <span class="dislike_count" id="dislike_count4">{{survey.4.num_dislikes}}</span>
                            </form>
                    	</div>
                    {% else %}
						<p>{{ survey.4.num_likes }} &nbsp; Yes</p>
						<p>{{ survey.4.num_dislikes }} &nbsp; No</p>
						<h5>Only Users can answer survey questions! Please <a href="{% url 'login' %}">login</a> or <a href="{% url 'register' %}">register!</a></h5>
					{% endif %}
                </center>
            </div>
        </div>		
	{% endif %}
	{% if survey.5 %}
		<div class="flexbox-item flexbox-item-121">
			<div class="header-info2">
				<h2>Do you feel coerced by your Governor, Mayor, or Employer into getting tested weekly for covid-19?</h2>
				<h4>Example: Your Governor, Mayor, or Employer mandates you to get tested weekly in order to continue working.</h4>
				<center>
					{% if user.is_authenticated %}
	                    <div class="flex space-x-8 font-medium text-gray-700 text-xl">
	                        <form action="{%url 'likes' survey.5.id%}" method="POST" class="like-form5">
	                            {%csrf_token%}
	                            {%if user not in survey.5.likes.all %}
	                                <button type="submit" class="like-btn5 like-icon5" name="video_id" value="{{survey.5.id}}">	                                   			                                    
	                                    <span viewBox="0 0 20 20" width="24" height="24">
	                                        Yes
	                                    </span>
	                                </button>
                                {%else%}
                                	<button type="submit"  class="like-btn5 like-icon5 btn-success" name="video_id" value="{{survey.5.id}}">
	                                    <span viewBox="0 0 20 20" width="24" height="24">
	                                        Yes
	                                    </span>
	                                </button>
                                {%endif%}
                                <span class="like_count" id="like_count5">{{survey.5.num_likes}}</span>
                             </form>


                            <form action="{% url 'dislikes' survey.5.id%}" method="POST" class="dislike-form5">
                                {% csrf_token %}
                                {%if user not in survey.5.dislikes.all %}
	                                <button type="submit" class="dislike-btn5 dislike-icon5" name="video_id" value="{{survey.5.id}}">	                         			                                    
	                                    <span viewBox="0 0 20 20" width="24" height="24">
	                                        No
	                                    </span>
	                                </button>
                                {%else%}
                                	<button type="submit" class="dislike-btn5 dislike-icon5 btn-success" name="video_id" value="{{survey.5.id}}">	   
	                                    <span viewBox="0 0 20 20" width="24" height="24">
	                                        No
	                                    </span>
                                    </button>
                                {%endif%}			 
                                <span class="dislike_count" id="dislike_count5">{{survey.5.num_dislikes}}</span>
                            </form>
                    	</div>
                    {% else %}
						<p>{{ survey.5.num_likes }} &nbsp; Yes</p>
						<p>{{ survey.5.num_dislikes }} &nbsp; No</p>
						<h5>Only Users can answer survey questions! Please <a href="{% url 'login' %}">login</a> or <a href="{% url 'register' %}">register!</a></h5>
					{% endif %}
                </center>
            </div>
        </div>		
	{% endif %}
	{% if survey.6 %}
		<div class="flexbox-item flexbox-item-121">
			<div class="header-info2">
				<h2>Are you afraid of being near individuals who are not wearing a mask?</h2>
				<center>
					{% if user.is_authenticated %}
                        <div class="flex space-x-8 font-medium text-gray-700 text-xl">
                            <form action="{%url 'likes' survey.6.id%}" method="POST" class="like-form6">
                                {%csrf_token%}
                                {%if user not in survey.6.likes.all %}
	                                <button type="submit" class="like-btn6 like-icon6" name="video_id" value="{{survey.6.id}}">	                                   			                                    
	                                    <span viewBox="0 0 20 20" width="24" height="24">
	                                        Yes
	                                    </span>
	                                </button>
                                {%else%}
                                	<button type="submit"  class="like-btn6 like-icon6 btn-success" name="video_id" value="{{survey.6.id}}">
	                                    <span viewBox="0 0 20 20" width="24" height="24">
	                                        Yes
	                                    </span>
	                                </button>
                                {%endif%}
                                <span class="like_count" id="like_count6">{{survey.6.num_likes}}</span>
                             </form>


                            <form action="{% url 'dislikes' survey.6.id%}" method="POST" class="dislike-form6">
                                {% csrf_token %}
                                {%if user not in survey.6.dislikes.all %}
	                                <button type="submit" class="dislike-btn6 dislike-icon6" name="video_id" value="{{survey.6.id}}">	                         			                                    
	                                    <span viewBox="0 0 20 20" width="24" height="24">
	                                        No
	                                    </span>
	                                </button>
                                {%else%}
                                	<button type="submit" class="dislike-btn6 dislike-icon6 btn-success" name="video_id" value="{{survey.6.id}}">	   
	                                    <span viewBox="0 0 20 20" width="24" height="24">
	                                        No
	                                    </span>
                                    </button>
                                {%endif%}			 
                                <span class="dislike_count" id="dislike_count6">{{survey.6.num_dislikes}}</span>
                            </form>
                    	</div>
                    {% else %}
						<p>{{ survey.6.num_likes }} &nbsp; Yes</p>
						<p>{{ survey.6.num_dislikes }} &nbsp; No</p>
						<h5>Only Users can answer survey questions! Please <a href="{% url 'login' %}">login</a> or <a href="{% url 'register' %}">register!</a></h5>
					{% endif %}
                </center>
            </div>
        </div>		
	{% endif %}
	{% if survey.7 %}
		<div class="flexbox-item flexbox-item-121">
			<div class="header-info2">
				<h2>Do you think the covid-19 booster shots will be mandated?</h2><br>
				<h4>For example to:</h4>
				<ul class="ul-1">
					<li>Continue working</li>
					<li>Become employed in many Public and Private sector jobs</li>
					<li>Attend restaurants, fitness centers, theaters</li>
					<li>Attend school, college</li>
				</ul>
				<center>
					{% if user.is_authenticated %}
                        <div class="flex space-x-8 font-medium text-gray-700 text-xl">
                            <form action="{%url 'likes' survey.7.id%}" method="POST" class="like-form7">
                                {%csrf_token%}
                                {%if user not in survey.7.likes.all %}
	                                <button type="submit" class="like-btn7 like-icon7" name="video_id" value="{{survey.7.id}}">	                                   			                                    
	                                    <span viewBox="0 0 20 20" width="24" height="24">
	                                        Yes
	                                    </span>
	                                </button>
                                {%else%}
                                	<button type="submit"  class="like-btn7 like-icon7 btn-success" name="video_id" value="{{survey.7.id}}">
	                                    <span viewBox="0 0 20 20" width="24" height="24">
	                                        Yes
	                                    </span>
	                                </button>
                                {%endif%}
                                <span class="like_count" id="like_count7">{{survey.7.num_likes}}</span>
                             </form>


                            <form action="{% url 'dislikes' survey.7.id%}" method="POST" class="dislike-form7">
                                {% csrf_token %}
                                {%if user not in survey.7.dislikes.all %}
	                                <button type="submit" class="dislike-btn7 dislike-icon7" name="video_id" value="{{survey.7.id}}">	                         			                                    
	                                    <span viewBox="0 0 20 20" width="24" height="24">
	                                        No
	                                    </span>
	                                </button>
                                {%else%}
                                	<button type="submit" class="dislike-btn7 dislike-icon7 btn-success" name="video_id" value="{{survey.7.id}}">	   
	                                    <span viewBox="0 0 20 20" width="24" height="24">
	                                        No
	                                    </span>
                                    </button>
                                {%endif%}			 
                                <span class="dislike_count" id="dislike_count7">{{survey.7.num_dislikes}}</span>
                            </form>
                    	</div>
                    {% else %}
						<p>{{ survey.7.num_likes }} &nbsp; Yes</p>
						<p>{{ survey.7.num_dislikes }} &nbsp; No</p>
						<h5>Only Users can answer survey questions! Please <a href="{% url 'login' %}">login</a> or <a href="{% url 'register' %}">register!</a></h5>
					{% endif %}
                </center>
            </div>
        </div>		
	{% endif %}
</div>
<p class="tableofcontents"><a class="jumpinglink" href="#sec0"> Table of Contents </a></p>







	


			
			


{% endblock %}

























