{% extends 'base.html' %}
{% load static %}
{% block title %}What is the Plan?{% endblock %}
{% block content %}

	<div class="flexbox-container1">
		<div class="flexbox-item-99">
			<h1 class="green">What is the Plan?</h1>
			<img class="image" src="{% static 'operationfreedom/images/firstamendment.jpg' %}">
			<div class="sourceone">
				<small class="source">
					<a target="_blank" href="https://commons.wikimedia.org/wiki/File:Newseum_5_Freedoms_1st_Amendment.jpg">dbking, CC BY 2.0 <https://creativecommons.org/licenses/by/2.0>, via Wikimedia Commons</a>
				</small>
			</div>
			<div class="header-info2">
				<h2>It is important to have a Plan of Action in order for the CITY and STATE Petitions to be passed by city and state officials.</h2>
			</div>
		</div>
	</div>
	<div class="flexbox-container">
		<div class="flexbox-item flexbox-item-20" id="sec0">
			<div class="header-info2">
				<h1 class="green">Table of Context</h1><hr>
				<h4><a class="jumpinglink" href="#osr">Online Signature Requirements</a></h4><hr>
				<h4><a class="jumpinglink" href="#hmsan">How many Signatures are needed?</a></h4><hr>
				<h4><a class="jumpinglink" href="#iies">Is it enough signatures?</a></h4><hr>
				<h4><a class="jumpinglink" href="#wdtpg">Where does the Petition go?</a></h4><hr>
				<h4><a class="jumpinglink" href="#weibs">What exactly is being Submitted?</a></h4><hr>
				<h4><a class="jumpinglink" href="#weibs">Can we submit other forms?</a></h4><hr>
			</div>
		</div>
	</div>
	<div class="flexbox-container">
		<div class="flexbox-item flexbox-item-1" id="osr">
			<div class="header-info2">
				<h1 class="green">Online Signature Requirements</h1><hr>
				<h2>Using <a target="_blank" href="https://www.gopetition.com/">GoPetition</a> to collect and display the online signatures.</h2><br>
				<h3>The following information is required for the Petitions to be as official  and efficient as possible!</h3><br>
				<ul class="ul-1">
					<li>Full Name: This is required to identify the individual signing. Can be displayed as Anonymous</li>
					<li>Email: This is required to contact the individual signing with important updates and information.</li>
					<li>Age: This is required to identify if the individual signing is an adult or under the age of 18. Both are valid to sign. Adults signing may be more official and a more powerful statement.</li>
					<li>City or Town: This is required to ensure the individual signing is within New York City or the State of New York.</li>
					<li>State: This is required to ensure the individual signing is within the State of New York</li>
					<li>Country: This is required to ensure the individual signing is within the United States of America</li>
				</ul>
				<h3>All other information fields are optional but RECCOMENDED to be filled out. Comments are important to express your opinion as a New Yorker! It will deliver a stronger message to our Mayor and Governor.</h3>
				<hr>
				<p class="tableofcontents"><a class="jumpinglink" href="#sec0"> Table of Contents </a></p>
			</div>

		</div>
		<div class="flexbox-item flexbox-item-1" id="hmsan">
			<div class="header-info2">
				<h1 class="green">How many Signatures are needed?</h1><hr>
				<h2>New York City Population: 8,804,190 (April 2020)<br> <a target="_blank" href="https://www.census.gov/quickfacts/fact/table/newyorkcitynewyork/POP010220">census.gov</a></h2><br>
				<ul class="ul-1">
					<li>Adults: 79.2%</li>
					<li>Below 18 years of age: 20.8%</li>
				</ul>
				<h3>The current goal is to reach 88,000 signatures or approximately 1% of the New York City population. <br> In other words 1 out of 100 New York City residents support the Petition!</h3><br>
				<hr>
				<h2>State of New York Population: 20,201,249 <br> <a target="_blank" href="https://www.census.gov/library/stories/state-by-state/new-york-population-change-between-census-decade.html">www.census.gov</a></h2><br>
				<ul class="ul-1">
					<li>Adults: 79.6%</li>
					<li>Below 18 years of age: 20.4%</li>
				</ul>
				<h3>The goal is to reach 200,000 signatures or approximately 1% of the State of New York population. <br> In other words 1 out of 100 State of New York residents support the Petition!</h3><br>
				<hr>
				<p class="tableofcontents"><a class="jumpinglink" href="#sec0"> Table of Contents </a></p>
			</div>
		</div>
		<div class="flexbox-item flexbox-item-1" id="iies">
			<div class="header-info2">
				<h1 class="green">Is it enough signatures?</h1><hr>
				<h2>More than likely, 1% of the New York City and State residents who signed the Petition may not be enough.<br><br>We will then submit the Petition every time it increases 1% <br><br> This will prove to the Mayor and Governor that the number of residents supporting the Petition is trending upwards!</h2>
				<hr>
				<p class="tableofcontents"><a class="jumpinglink" href="#sec0"> Table of Contents </a></p>
			</div>
		</div>
		<div class="flexbox-item flexbox-item-1" id="wdtpg">
			<div class="header-info2">
				<h1 class="green">Where does the Petition go?</h1><hr>
				<h2>New York City Petition: <br><br> Will be mailed to <br> City Hall,
				New York, NY 10007, United States</h2><br><hr>
				<h2>State of New York Petition: <br><br> Will be mailed to <br> Office of the Governor of the State of New York, 633 Third Ave, FL 38, New York, NY 10017, United States</h2>
				<hr>
				<p class="tableofcontents"><a class="jumpinglink" href="#sec0"> Table of Contents </a></p>
			</div>
		</div>
		<div class="flexbox-item flexbox-item-1" id="weibs">
			<div class="header-info2">
				<h1 class="green">What exactly is being Submitted?</h1><hr>

				<hr>
				<p class="tableofcontents"><a class="jumpinglink" href="#sec0"> Table of Contents </a></p>
			</div>
		</div>
		<div class="flexbox-item flexbox-item-1" id="cwsof">
			<div class="header-info2">
				<h1 class="green">Can we submit other forms?</h1><hr>
				<h2>New York CITY <br> Yes you can! <br> Please click <br> <a target="_blank" href="https://www1.nyc.gov/office-of-the-mayor/mayor-contact.page">Contact the Mayor</a> <br> Fill out the form!</h2><br>
				<h3>Message <br> Please copy and paste the following message. <br><br> I 'am a concerned resident within New York City regarding covid-19 vaccine mandates, vaccination proof mandates, covid-19 testing mandates, and mask wearing mandates. I WANT my CURRENT MAYOR of New York City to read and sign the following Executive Order provided in the following link: <a target="_blank" href="https://www.docdroid.com/py1QnKg/the-residents-of-new-york-city-executive-order-docx">https://www.docdroid.com<br>/py1QnKg/the-residents-of-new-york-city-executive-order-docx</a> <br><br> **Please also leave a your personal opinion as well for a stronger message!</h3>
				<br><br><hr><br>
				<h2>State of New York<br> Yes you can! <br> Please click <br> <a target="_blank" href="https://www.governor.ny.gov/content/governor-contact-form">Send a Message to the Governor</a> <br> Fill out the form!</h2><br>
				<h3>Message <br> Please copy and paste the following message. <br><br> I 'am a concerned resident within the State of New York regarding covid-19 vaccine mandates, vaccination proof mandates, covid-19 testing mandates, and mask wearing mandates. I WANT my CURRENT GOVERNOR of the State of New York to read and sign the following Executive Order provided in the following link: <a target="_blank" href="https://www.docdroid.com/tj3fwVj/the-residents-of-the-state-of-new-york-executive-order-docx">https://www.docdroid.com/<br>tj3fwVj/the-residents-of-the-state-of-new-york-executive-order-docx</a> <br><br> **Please also leave a your personal opinion as well for a stronger message!</h3>
				<hr>
				<p class="tableofcontents"><a class="jumpinglink" href="#sec0"> Table of Contents </a></p>
			</div>
		</div>
	</div>

{% endblock %}